<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @timeslot.user_id %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @timeslot.duration %>
</p>

<p>
  <strong>Price:</strong>
  <%= @timeslot.price %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @timeslot.frequency %>
</p>

<p>
  <strong>Status:</strong>
  <%= @timeslot.status %>
</p>

<p>
  <strong>On resale:</strong>
  <%= @timeslot.on_resale %>
</p>

<%= link_to 'Edit', edit_timeslot_path(@timeslot) %> |
<%= link_to 'Back', timeslots_path %>
